<div class="container">
    <h1>Escola Municipal Cruzeiro do Sul</h1>
    <br>
    <div class="row">
        <div class="col">
            <h2>Lista de turmas</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let turma of turmas">
                        <td>{{turma.id}}</td>
                        <td>
                            <button class="btn btn-primary btn-danger" (click)="excluirTurma(turma)"><i class="fa fa-trash-o fa-lg"></i></button>
                            <button class="btn btn-primary" (click)="visualizarTurma(turma.id)"><i class="fa fa-eye" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <h2>Cadastrar turma</h2>
            <form #formTurma="ngForm">
                <div class="form-group">    
                    <label>Número turma:</label>
                    <input type="number" class="form-control" id="id" name="id" [(ngModel)]="turma_atual.id" required>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!formTurma.valid" (click)="cadastrarTurma()"><i class="fa fa-pencil fa-fw"></i></button>
                <button type="button" class="btn btn-secondary" (click)="limparTurma()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
    <br>
    <h2>Gerenciador de Notas e Frequências</h2>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Turma</th>
                        <th>Aluno</th>
                        <th>Frequência</th>
                        <th>Média</th>
                        <th>Situação</th>
                        <th>Registrar notas e freq.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let aluno of alunos" [class.table-danger]="aluno.situacao() == 'REPROVADO' || aluno.situacao() == 'REPROVADO POR FALTA'"
                        [class.table-success]="aluno.situacao() == 'APROVADO'">
                        <ng-container *ngIf = "aluno.turma == idTurma">
                            <td>{{aluno.turma}}</td>
                            <td>{{aluno.nome}}</td>
                            <td>{{aluno.frequencia}}</td>
                            <td>{{aluno.media()}}</td>
                            <td>{{aluno.situacao() || 'N/I'}}</td>
                            <td>
                                <button class="btn btn-primary" (click)="registrar(aluno)"><i class="fa fa-pencil fa-fw"></i></button>
                                <button class="btn btn-primary btn-danger" (click)="excluirAluno(aluno)"><i class="fa fa-trash-o fa-lg"></i></button>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Média da Turma</td>
                        <td colspan="2">{{media_turma || 'N/I'}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col">
            <h2>Registrar notas e frequência</h2>
            <form #registro="ngForm" (submit)="salvar()">
                <div class="form-group">
                    <label>Aluno</label>
                    <input type="string" class="form-control" name="aluno" [(ngModel)]="aluno_atual.nome">
                </div>
                <div class="form-group">
                    <label>Nota 1</label>
                    <input type="number" class="form-control" name="nota1" [(ngModel)]="aluno_atual.nota1">
                </div>
                <div class="form-group">
                    <label>Nota 2</label>
                    <input type="number" class="form-control" name="nota2" [(ngModel)]="aluno_atual.nota2">
                </div>
                <div class="form-group">
                    <label>Nota 3</label>
                    <input type="number" class="form-control" name="nota3" [(ngModel)]="aluno_atual.nota3">
                </div>
                <div class="form-group">
                    <label>Nota 4</label>
                    <input type="number" class="form-control" name="nota4" [(ngModel)]="aluno_atual.nota4">
                </div>
                <div class="form-group">
                    <label>Frequência</label>
                    <input type="number" class="form-control" name="frequencia" [(ngModel)]="aluno_atual.frequencia">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!registro.valid" (click)="cadastrarAlunoTurma()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                <button type="submit" class="btn btn-primary" [disabled]="!registro.valid"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-secondary" (click)="limpar()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
            </form>
        </div>
        <br>
    </div>
</div>